.home-pages-body {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
}

.checked-images-body {
    width: 600px;
    padding-top: 5px ;
    overflow-y: scroll ;
    overflow-x: hidden ;
}

.items-checked-image {
    display: flex ;
    flex-direction: column ;
    justify-content: start ;
    width: 600px;
    height: 540px;
    margin-bottom: 15px;
    border-bottom : 1px solid blue ;
}

.item-detaille {
    width: 600px;
    height: 40px;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    margin-bottom: 3px;
}

