* {
    margin: 0% ;
    padding: 0% ;
    box-sizing: border-box ;
}
html, body{
    width: 100% ;
    height: 100% ;
    color: white ;
}
.wrapper {
    width: 100% ;
    min-height: 86%;
    background-color: white ;
    color: black ;
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
    padding: 5px ;
}

._footer ,._header {
    display: flex ;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center ;
    width: 100% ;
    height: 6%;
    padding: 0px 30px 0px 30px;
    background-color: 	#4682B4 ;
}

._header {
    height: 8%;
}
._footer {
    position: relative;
}
.menu {
    padding: 8px ;
    font-size: 1.3em;
    text-decoration: none ;
    color: white ;
}
nav ul li {
    list-style-type: none;
    display: inline;
}

.menu:hover {
    background-color: rgba(66, 65, 65, 0.288);
    color: white ;
}

.active {
    border-bottom: 3px solid black ;
}

/* ##################### For home.html ################# */

.home-pages-body {
    display: flex ;
    flex-direction: column ;
    justify-content: start ;
}

.checked-images-body {
    width: 600px;
    padding-top: 5px ;
    overflow-y: scroll ;
    overflow-x: hidden ;
}

.items-checked-image {
    display: flex ;
    flex-direction: column ;
    justify-content: start ;
    width: 600px;
    height: 540px;
    margin-bottom: 5px;
    border-bottom : 1px solid blue ;
}

.item-detaille {
    width: 600px;
    height: 40px;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

/* ###################### upload new images  ########################## */
.success-text {
    background-color: green ;
    padding: 10px;
    color: white ;
    height: 40px;
    margin: 10px 0 10px 0 ;
}

.success-body {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
}

form {
    width: 300px;
    height: 350px;
    margin: 30px;
    border: 0.5px solid rgb(180, 179, 179) ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center ;
}

form > p {
    width: 260px;
}

form > p > input {
    width: 260px;
    height: 35px;
}

form button {
    width:  260px ;
    height: 40px;
    color: white ;
    background-color: #4682B4 ;
}

/* ###################### One Item Pages ########################## */

.one-item-body {
    display: flex ;
    flex-direction: row ;
}

.item-choose {
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
}
.item-choose button {
    text-decoration:  none ;
    padding: 10px 40px 10px 40px ;
    color: white ;
    font-size: 0.9em ;
    margin: 0px 10px 0px 10px ;
}

.reject {
    background-color: red ;
}
.keept {
    background-color: green ;
}