{% extends '../layouts/base.html' %}

{% block content %}
      <div class="home-pages-body">   
       <div class="checked-images-body">
              {% for image in images %}
                     <div class="items-checked-image">  
                            <div class="item-detaille">
                                   <h4>Upload : {{image.created}}</h4>
                                   <h4>Reject : {{image.reject}}</h4>
                                   <h4>Checked: {{image.verified}}</h4>
                            </div>
                            <a href=" {% url 'oneItem' id=image.id %}"><img src="{{image.images.url}}" alt="myImage" width='600px' height='500px'></a>
                     </div>
              {% empty %}
                     <p>Sorry, you have already checked all unchecked image !!!  <a href="{% url 'home'%}">Click here to back Home</a> </p>
              {% endfor %}
       </div>
     </div>  
{% endblock content %}