{% extends '../layouts/base.html' %}
{% block content %}
    <div class="home-pages-body">   
       <h3> Checked And Keepted Images</h3>
       <div class="checked-images-body">
              {% for image in images %}
                     <div class="items-checked-image">  
                           <img src="{{image.images.url}}" alt="myImage" width='500px' height='500px'>
                     </div>
              {% empty %}
                     <p>Sorry, we haven't an available image !!! </p>
              {% endfor %}
       </div>
     </div>  
{% endblock content %}